.form-control {
  .error {
    textarea {
      border: 2px solid red;
    }
    input {
      border: 2px solid red;
    }
  }
}
.error-text {
  font-size: 14px;
  color: red;
}
.form-common-error {
  border: 2px solid red;
  padding: 5px;
  color: red;
}
