.selected-page {
  font-weight: bold;
}
.page-number {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 5px;
  }
}
.next-botton {
  background-color: #fff;
  padding: 0;
  border: none;
  cursor: pointer;
}
.previous-botton {
  background-color: #fff;
  padding: 0;
  border: none;
  transform: rotate(180deg);
  margin-right: 5px;
  cursor: pointer;
}
.image {
  width: 20px;
  height: 14px;
}
.bottom-space {
  margin-bottom: 20px;
}
