.header-img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}
.ava-img {
  width: 100px;
  height: 100px;
}
.info {
  width: 100%;
  display: flex;
}
.description {
  margin-left: 20px;
}
.info-block {
  display: flex;
  flex-direction: column;
}
