.main {
  max-width: 1170px;
  display: flex;
  margin: 0 auto;
}
.content {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

@media (min-width: 0px) and (max-width: 900px) {
  .main {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
